.menuContainer::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  .menuContainer::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
  }
   
  /* Handle */
  .menuContainer::-webkit-scrollbar-thumb {
    background: gray; 
  }
  
  /* Handle on hover */
  .menuContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.menuContainer {
  /* width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; */
  /* height: 100vh; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.subMenu {
  /* z-index: 99999; */
  /* position: fixed; */
  top: 75px;
  left: 0px;
  width: 400px;
  height: 100vh;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .menuContainer {
    padding-bottom: 20px;
    overflow-y: hidden;
  }
  .subMenu {
    height: 25vh;
  }
  .closeIcon {
    margin-right: 50px;
  }
}